<div class="list row">
    <div class="col-md-6">
      <h4>Lista de usuarios</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let campania of campanias; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveCampania(user, i)"
        >
          {{ campania.numCampana }},{{user.nombre}}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllCampania()">
        Eliminar usuarios
      </button>
    </div>
  </div>
